.gradient-custom {
    /* fallback for old browsers */
    background: #430289;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(61, 9, 116), rgb(22, 82, 186));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(61, 9, 116), rgb(22, 82, 186))
}

.signUpLink {
    color : rgb(29, 100, 222) !important;
}

#formAlert{
    display: none;
}

.form-control{
    height: auto !important;
}